*{
  background-color: black;
}
.App {
  text-align: center;
  
}
h1{
  color: purple;
}
.output{
  color: purple;
  list-style-type: none;
  /* display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center; 
  align-items: center;
  gap: 10px; */

  
}
